.card,.block,.list-group-item,.btn-light,.menu,.bg-pulse-grey,.empty-icon-container,.overlay-icon-container,div.message-app,div.bg-white,div.bg-light,.popover-region-container,.popover-region-footer-container,.moodle-dialogue-content,select,.fp-thumbnail,.conversationcontainer,.body-container,.editor_atto_toolbar, .dndupload-target {
    background-color:#333!important
}
input,.message,.preferences-container .preference-table tr th:nth-child(even),.preferences-container .preference-table tr td:nth-child(even),textarea.form-control,.btn-icon:focus,.btn-icon:hover,.path-mod-assign td.submissionnotgraded,.editor_atto_content {
    background-color:#555!important
}
.editor_atto_content::placeholder{
    content: "Ecrire ici...";
}
.editor_atto {
    border-radius: 5px;
}
.dropdown-item:active,.dropdown-item:hover{
    background-color:#999!important
}
a.popover-region-toggle:focus,p.message,.fp-filename,.list-group-item-action,.dropdown-item:focus{
    background-color:transparent!important
}
.dropdown-item:focus-within,.dropdown-item.active,.btn-secondary:hover,.btn-primary:hover,.btn-secondary:focus,.btn-primary:focus,.nav-items:focus,.nav-items:hover,a:focus,option,.nav-pills .nav-link.active,.dropdown-menu,.dropdown-item,.dropdown-toggle,.btn-outline-secondary,span.input-group-text,div.editor_atto_toolbar button:hover{
    background-color:#4e5760!important;
    background-image: none!important;
    box-shadow:none!important;
}

.moodle-dialogue-content{
    border:none!important;
    border-radius:10px
}
.navbar-brand:hover,.navbar-brand:focus{
    color:#ddd!important
}
.site-name{
    color:inherit!important;
    margin-left:10px!important
}
.btn-light,.form-control:focus{
    border:none!important
}
.dropdown-menu,.popover-region-container,select{
    border:2px solid #6c757d!important;
    padding:0px 0px!important
}
.dropdown-item,option{
    border-bottom:1px solid #6c757d;
    color:#fff!important
}
#region-main{
    background-color:#333!important;
    border:none!important
}
.card-deck{
    background-color:#555!important;
    border-radius:5px;
    padding-top:8px
}
.profile_tree{
    background-color:#555!important;
    border-radius:5px;
    padding:8px 8px 0px
}
#page{
    background-color:#0a0a0ab3!important
}
a,footer::after{
    color:#8fd8eb!important;font-weight:600!important
}
.custom-control-input:checked~.custom-control-label::before{
    background-color:#8fd8eb!important
}
#page-footer,.bg-white,.navbar-bootswatch,.btn-secondary,.btn-primary,.navbar-brand:focus,.navbar-brand:hover,.page-link,.nav-link,#action-menu-toggle-0,div.editor_atto_toolbar button{
    background-color:#343a40!important
}
.btn-primary,.btn-secondary,.border,.page-link{
    border-color:#343a40!important
}
.btn-outline-secondary,p,h1,h2,h3,h4,h5,.dropdown-header,small,span.text-muted,small.text-muted,div.text-muted,div,.btn-secondary,.navbar-brand,th,td,textarea.form-control::placeholder,select,input.form-control,.closebutton,.close,strong,.navbar-bootswatch a i.icon,i.icon,.day{
    color:#fff!important
}
.resourcelinkdetails{
    color:#999!important
}
.border-bottom{
    border-bottom-color:#555!important
}
.dropdown-divider{
    border-top-color:transparent!important
}
.btn-secondary{
    font-weight:600!important
}
.card-footer,#inst136783,#inst138764,.popover-region-toggle::after,.tail{
    display:none
}
#page-content{
    margin:10px 0px
}
.aabtn.focus,.btn-link.focus,.nav-link.focus,.atto_link_button.focus,[role="button"].focus,.list-group-item-action.focus,input[type="checkbox"].focus,input[type="radio"].focus,input[type="file"].focus,input[type="image"].focus,.sr-only-focusable.focus,a.dropdown-toggle.focus,.modal-dialog[tabindex="0"].focus,.moodle-dialogue-base .closebutton.focus,button.close.focus,.form-autocomplete-selection.focus,.aabtn:focus,.btn-link:focus,.nav-link:focus,.atto_link_button:focus,[role="button"]:focus,.list-group-item-action:focus,input[type="checkbox"]:focus,input[type="radio"]:focus,input[type="file"]:focus,input[type="image"]:focus,.sr-only-focusable:focus,a.dropdown-toggle:focus,.modal-dialog[tabindex="0"]:focus,.moodle-dialogue-base .closebutton:focus,button.close:focus,.form-autocomplete-selection:focus,select,.custom-control-input:focus~.custom-control-label::before,.form-control:focus{
    box-shadow:none!important
}
.path-mod-assign td.submissionstatussubmitted,.path-mod-assign td.earlysubmission{
    background-color:#019875!important
}
.latesubmission{
    background-color:#88293d!important
}
div.border-right{
    border-right-color:#999!important
}
div.border-left{
    border-left-color:#999!important
}
div.border-top{
    border-top-color:#999!important
}
div.border-bottom{
    border-bottom-color:#999!important
}
div.border{
    border-color:#999!important
}
.policiesfooter{
    float: right !important;
}
footer::after{
    content:"Dark Moodle by Fyelne";
    text-align: center;
    display: block; 
}
.fa-check-square-o:before {
    content: "ÔÅÜ";
}